.colordetails {
  margin-bottom: 3rem;
  border: 1px solid black;
  padding: 2rem;
  box-sizing: border-box;
}

.colordetails__contrast {
  margin: 1.5rem 0 0 0;
  color: var(--color);
  line-height: 1.5rem;
  font-size: 1rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
}
